* {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

}


/* btn */
.btn-success {
    background-color: #001a33;
    color: #fff;
    border: none;
}

.btn-success:hover {
    background-color: #fbd283;
    color: #fff;
    border: none;

}

.btn-success::after {
    background-color: #fbd283;
    color: #fff;
    border: none;

}


/* shadow */
.text-white-sd {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.41);
}

/* fonts */
@font-face {
    font-family: 'temting';
    src: url(../font/temting.otf);
}

@font-face {
    font-family: 'manrope';
    src: url(../font/manrope.ttf);
}

@font-face {
    font-family: 'Emryotic';
    src: url(../font/Embryotic.otf);
}

.text-decor {
    font-family: 'Emryotic';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'temting', 'Dancing Script', cursive;
}

p,
small,
button,
a {
    font-family: 'manrope';
    font-size: 13px;
}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 35px;
}

.col-cound {
    background-color: #f0eccb;
    color: #6a0909;
}

.main-coundown {
    rotate: -7deg;
}

.img-galeri {
    margin-top: -200px;
    background-image: url(../img/galery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;

}

.save-date {
    background-image: url(../img/savedate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bermula-section {
    background-image: url(../img/bermula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.img-landing {
    background-image: url(../img/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}
.img-all-comment {
    background: rgb(249, 239, 227);

    height: 100vh;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(249, 239, 227, 1) 100%); */
}

.img-comment {
    background-image: url(../img/ucapan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.surat-section {
    background-image: url(../img/surat.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.b-message {
    height: 500px;
    background-color: #fff;
    background-image: url(../img/love.png);
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-position-x: 150px;
    background-size: contain;
    padding: 0px 20px;
}

.img-value-2 {
    padding-top: 0px;
}

.img-value {
    padding-top: 250px;
}

.bg-mood {
    margin-top: -250px;
    height: 350px;
    background: rgb(133, 20, 20);
    background: linear-gradient(0deg, rgb(99, 7, 7) 0%, rgb(150, 5, 5) 53%, rgba(158, 7, 7, 0) 100%);
    padding-top: 30px;
    z-index: 1;
    position: relative;
}

.bg-our {
    height: 350px;
    background: rgb(250, 246, 243);
    background: linear-gradient(180deg, rgb(250, 246, 243) 0%, rgb(250, 246, 243) 53%, rgba(158, 7, 7, 0) 100%);
    padding-top: 30px;
    z-index: 1;
    position: relative;
}

.bg-our-bottom {
    margin-top: -200px;
    height: 350px;
    background: rgb(249, 239, 227);
    background: linear-gradient(0deg, rgb(249, 239, 227) 0%, rgb(249, 239, 227) 53%, rgba(249, 239, 227, 0) 100%);
    padding-top: 30px;
    z-index: 1;
    position: relative;
}

.bg-mood .row {
    padding-top: 180px;
}

.bg-gold {
    background-color: #00674f;
    color: white;
}

.bg-marron {
    background-color: #751b1b;
}

.text-gold {
    background: #00674f;
    background: radial-gradient(circle farthest-corner at center center, #5ec5ad 0%, #00674f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-marron {
    background: #751b1b;
    background: radial-gradient(circle farthest-corner at center center, #bd3b3b 0%, #8c0303 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-abu {
    color: #cccccc;
}

.video-nikah {
    margin-top: 10px;
}

.gift-section {
    padding-top: 100px;
    background-color: rgb(250, 246, 243);
}

.main-bg {
    background-color: rgb(250, 246, 243);
}

.header-main {
    background-color: #751b1b;
}

/* hero */
.hero {
    background-image: url(../img/bg-landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: -60px;
}

.hero .content-hero {
    padding-top: 50px;
    position: relative;
    z-index: 2;

}


/* border-bottom*/
.b-bot {
    border-bottom: 1px solid #ffffff;
    margin-top: 11px;
}

/* card */
.card-box {
    border: 5px solid #dbb369;
    background-color: #f8f8f8;
}

/* closing */
#akhir .close {
    background-image: url(../img/mygaleri-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    /* Add this line to create a stacking context */
    position: relative;

}

#akhir .close::before {
    /* Create the overlay */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Set the overlay color and transparency */
    background-color: rgba(117, 18, 18, 0.5);
    /* Black with 50% opacity */
    /* Place the overlay behind the content */
    z-index: 1;
}

/* Ensure your content is on top of the overlay */
#akhir .close>* {
    position: relative;
    z-index: 2;
}


/* komentar */
.komentar {
    overflow-y: scroll;
}

* {

    ::-webkit-scrollbar {
        width: 18px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #002b53;
        border-radius: 10px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    /* warna akan berubah menjadi abu mudah saat kursor diarahkan  */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #22d1ee;
    }
}


/* timeline */
/* body{margin-top:20px;} */
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #f8f8f8;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 100%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #4e4e4e;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/*CSS PETA RESPONSIVE */
.peta-responsive {
    /* overflow:hidden; */
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.peta-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}